#{extends 'main.html' /}
#{set title:'Gestion du matériel' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/sweetalert.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/sweetalert.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/hardware.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
<main>
	<h1>Gestion du matériel</h1>
	<div class="col-1">
		<div id="processors-form" title="Ajouter un processeur">
			<form>
				<input type="text" name="processor-name" id="processor-name" placeholder="Nom *" class="text-input form-input" autocomplete="off">
				<input type="text" name="processor-manufacturer" id="processor-manufacturer" placeholder="Fabricant *" class="text-input form-input" autocomplete="off">
				<input type="text" name="processor-speed" id="processor-speed" placeholder="Vitesse (en GHz) *" class="text-input form-input" autocomplete="off">
				<input type="text" name="cores" id="cores" placeholder="Nombre de cœurs *" class="text-input form-input" autocomplete="off">
				<input type="submit" class="keyboard-submit">
			</form>
		</div>
		<h2>Processeurs</h2>
		<button id="add-processor" class="btn">Ajouter un processeur</button>
		<table id="processors">
			<thead>
			<tr>
				<th>Nom</th>
				<th>Fabricant</th>
				<th>Vitesse</th>
				<th>Cœurs</th>
			</tr>
			</thead>
			<tbody>
			#{list items:processorList, as:'processor'}
			<tr>
				<td>${processor.name}</td>
				<td>${processor.manufacturer}</td>
				<td>${processor.speed}</td>
				<td>${processor.cores}</td>
			</tr>
			#{/list}
			</tbody>
		</table>
	</div>
	<div class="col-2">
		<div id="video-cards-form" title="Ajouter une carte graphique">
				<form>
					<input type="text" name="video-card-name" id="video-card-name" placeholder="Nom *" class="text-input form-input" autocomplete="off">
					<input type="text" name="video-card-manufacturer" id="video-card-manufacturer" placeholder="Fabricant *" class="text-input form-input" autocomplete="off">
					<input type="text" name="video-card-speed" id="video-card-speed" placeholder="Vitesse (en MHz) *" class="text-input form-input" autocomplete="off">
					<input type="text" name="directX" id="directX" placeholder="Version DirectX *" class="text-input form-input" autocomplete="off">
					<input type="submit" class="keyboard-submit">
				</form>
		</div>
		<h2>Cartes graphiques</h2>
		<button id="add-video-card" class="btn">Ajouter une carte graphique</button>
		<table id="video-cards">
			<thead>
			<tr>
				<th>Nom</th>
				<th>Fabricant</th>
				<th>Vitesse</th>
				<th>DirectX</th>
			</tr>
			</thead>
			<tbody>
			#{list items:videoCardList, as:'videoCard'}
			<tr>
				<td>${videoCard.name}</td>
				<td>${videoCard.manufacturer}</td>
				<td>${videoCard.speed}</td>
				<td>${videoCard.versionDirectX}</td>
			</tr>
			#{/list}
			</tbody>
		</table>
	</div>
</main>
