#{extends 'main.html' /}
#{set title:'Gestion du matériel' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/hardware.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/sweetalert.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/sweetalert.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/hardware.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
<main>
	<h1>Gestion du matériel</h1>
	<div id="processors-form" title="Ajouter un processeur">
		<form>
			<input type="text" name="name" id="name" placeholder="Nom *" class="text-input hardware-input" autocomplete="off">
			<input type="text" name="manufacturer" id="manufacturer" placeholder="Fabricant *" class="text-input hardware-input" autocomplete="off">
			<input type="text" name="speed" id="speed" placeholder="Vitesse (en GHz) *" class="text-input hardware-input" autocomplete="off">
			<input type="text" name="cores" id="cores" placeholder="Nombre de cœurs *" class="text-input hardware-input" autocomplete="off">
			<input type="submit" class="keyboard-submit">
		</form>
	</div>
	<h2>Processeurs</h2>
	<table id="processors">
		<thead>
		<tr>
			<th>Nom</th>
			<th>Fabricant</th>
			<th>Vitesse</th>
			<th>Cœurs</th>
		</tr>
		</thead>
		<tbody>
		#{list items:processorList, as:'processor'}
		<tr>
			<td>${processor.name}</td>
			<td>${processor.manufacturer}</td>
			<td>${processor.speed}</td>
			<td>${processor.cores}</td>
		</tr>
		#{/list}
		</tbody>
		<tfoot>
		<tr>
			<td colspan="4"><button id="add-processor" class="btn add-btn">Ajouter un processeur</button></td>
		</tr>
		</tfoot>
	</table>

	<h2>Cartes graphiques</h2>
	<ul>
	#{list items:videoCardList, as:'videoCard'}
		<li>${videoCard}</li>
	#{/list}
	</ul>
</main>
