#{extends 'main.html' /}
#{set title:'Mon profil' /}
#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/signup.css'}">
#{/set}
#{set 'moreScripts'}
	<script src="@{'/public/javascripts/profile.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<main>
    <h1>${user.pseudo}</h1>
    <ul>
	    <!-- Mail -->
	    <h2 class="form-header">+ Mon mail</h2>
        <li hidden>
            #{form @Profile.changeMail()}
	            <input type="text" value="${user.mail}" class="text-input signup-input icon mail-icon" disabled>
                <input type="text" id="email" name="email" value="${flash.email}" class="text-input signup-input icon mail-icon" title="#{error 'email' /}" placeholder="Nouvel email *" autocomplete="off"/>
                <button type="submit" class="btn" id="update-email-button">Changer mon email</button>
            #{/form}
        </li>
		<!-- Password -->
	    <h2 class="form-header">+ Mon mot de passe</h2>
        <li hidden>
            #{form @Profile.changePassword()}
                <input type="password" id="password" name="password" value="" class="text-input signup-input icon pwd-icon" title="#{error 'password' /}" placeholder="Nouveau mot de passe *"/>
                <input type="password" id="password2" name="password2" class="text-input signup-input icon pwd-icon" title="#{error 'password2' /}" placeholder="Confirmez votre nouveau mot de passe *"/>
                <button type="submit" class="btn" id="update-password-button">Changer mon mot de passe</button>
            #{/form}
        </li>
    </ul>
	<!-- Genres -->
	<h2>Mes genres préférés</h2>
	#{set preferredGenres:models.Genre.getNames(user.preferredGenres) /}
	#{set allGenres:models.Genre.getNames(models.Genre.getAll()) /}
	#{form @Profile.changeGenres()}
		#{list items:allGenres, as: 'genre'}
			<input type="checkbox" name="genres[]" id="${genre}" value="${genre}" #{if preferredGenres.contains(genre)}checked #{/if}/>
			<label for="${genre}">${genre}</label>
		#{/list}
		<br>
		<button type="submit" class="btn" id="update-genres-button">Valider</button>
	#{/form}
    <h2>Mes configurations</h2>
    <table>
	    <thead>
	    <tr>
		    <th>Nom</th>
		    <th>Espace disque</th>
		    <th>RAM</th>
		    <th>Système d'exploitation</th>
		    <th>Processeur</th>
		    <th>Carte graphique</th>
	    </tr>
	    </thead>
	    <tbody>
		    #{list items:user.configurations, as:'configuration'}
			    <tr>
				    <td>${configuration.name}</td>
				    <td>${configuration.freeDiskSpace} Go</td>
				    <td>${configuration.RAM} Go</td>
				    <td>${configuration.operatingSystems[0].name} ${configuration.operatingSystems[0].version}</td>
				    <td>${configuration.processors[0].manufacturer} ${configuration.processors[0].name}</td>
				    <td>${configuration.videoCards[0].manufacturer} ${configuration.videoCards[0].name}</td>
			    </tr>
		    #{/list}
	    </tbody>
    </table>
	<a href="@{Configuration.index}"><button id="add-configuration" class="btn">Modifier mes configurations</button></a>
</main>