#{extends 'main.html' /}
#{set title:'Configuration système' /}
<main>
    <h1>Comparaison de configs</h1>

    <table border="1">
        <tr>
            <th></th>
            <th>${game.name}</th>
            <th>${user.pseudo}</th>
            <th>Evaluation</th>
        </tr>
        <tr>
            <td><strong>Nom de la configuration</strong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>Espace Mémoire</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>RAM</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>Processeur</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>Vitesse du Processeur</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>Nombre de coeurs</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>Carte Vidéo</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>Vitesse de la Carte Vidéo</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><stong>Version DirectX</stong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</main>