@charset "UTF-8";
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}

ul {
	padding: 0;
	margin: 0;
}

/* ~~ Mise en forme des liens ~~ */
a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}


/* ~~ Ce conteneur entoure toutes les autres divs, en leur attribuant leur largeur sur base d'un pourcentage ~~ */
#container {
	width: 99%;
	background-color: #FFF;
	margin: 0 auto; /* permet de centrer la mise en page */
}


/* ~~ En-tête de page ~~ */
#header {
	border-bottom: 1px solid #000;
	height: 30px;
	padding: 0 5px; 
	margin: 10px 0;
	text-align: center;
}

#header ul {
	list-style-type: none;
	display: inline-block;
}

#header ul li {
	height: 19px;
	margin: 0;
	padding: 0;
	float: left; /* pour aligner horizontalement les items de la liste */
}

#header ul.languages {
	position: absolute;
	left: 0;
}

#header ul.languages li {
	margin: 0 5px;
}

#header ul.menu li {
	margin: 0 20px;
	padding: 5px;
	background-color: #DDD;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#header ul.menu li.current { /* propriétés spécifiques à l'item sélectionné */
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}


/* ~~ Barre des filières ~~ */
#filieres {
	float: left;
	width: 20%;
	background-color: #808080;
	text-transform: uppercase;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.title {
	display: block;
	text-align: center;
	color: #FFF;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}

#filieres ul {
	list-style-type: none;
}

#filieres ul li {
	background-color: #DDD;
	border-top: 1px solid #000;
}

#filieres ul li.current { /* propriétés spécifiques à la filière sélectionnée */
	background-color: #808080;
}

#filieres li.annee { /* propriétés spécifiques à l'année sélectionnée */
	padding-left: 10px;
	background-color: #FFF;
	text-transform: none;
	font-weight: bold;
}

/* ~~ Contenu de la page ~~ */
#content {
	width: 75%;
	float: left;
	text-align: right;
}

#content a.editer_supprimer {
	color: #FFF;
	background-color: #5E5E5E;
	border: 1px solid #000;
	text-transform: uppercase;
	padding: 2px;
}

/* ~~ Propriétés du tableau ~~ */
#content table {
	margin: 10px 0;
	text-align: center;
	width: 85%;
}

#content td, th {
	border: 1px solid #000;
	white-space: nowrap
}

#content th {	/* propriétés spécifiques à l'en-tête du tableau */
	height: 35px;
	background-color: #C0C0C0;
	text-transform: uppercase;
	color: #FFF;
	font-weight: normal;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#content tr.noms_colonnes {
	font-weight: bold;
	height: 40px;
}

#content tr.noms_colonnes td {
	border: 1px solid #000;
	border-radius: 5px;
}

#content tr.domaine {
	background-color: #808080;
	color: #FFF;
	height: 50px;
}

#content tr.domaine td {
	border: 1px solid #C0C0C0;
	border-radius: 5px;
}

#content tr.obligatoire {
	background-color: #FFF;
	border-color: #C0C0C0;
	height: 25px;
}

#content tr.obligatoire td {
	border: 1px solid #C0C0C0;
	border-radius: 5px;
}

#content tr.description {
	background-color: #DBEEEE;
}

#content tr.description td {
	border: none ;
}

#content td.white {
	background-color: #FFF;
	border: none !important;
}