#{extends 'main.html' /}
#{set title:game.name /}
#{set 'moreScripts'}
	<script src="@{'/public/javascripts/game.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<main>
	<h1>${game.name}</h1>
	<table>
		<tbody>
			<tr>
				<td colspan="2"><strong>Informations générales</strong></td>
			</tr>
			<tr>
				<td>Développeur(s)</td>
				<td>
					#{list items:game.developers, as: 'dev'}
						${dev}#{if !dev_isLast}, #{/if}
					#{/list}
				</td>
			</tr>
			<tr>
				<td>Mode(s)</td>
				<td>
					#{list items:game.modes, as: 'mode'}
						${mode}#{if !mode_isLast}, #{/if}
					#{/list}
				</td>
			</tr>
			<tr>
				<td>Genre(s)</td>
				<td>
				#{list items:game.genres, as: 'genre'}
				${genre.name}#{if !genre_isLast}, #{/if}
				#{/list}
				</td>
			</tr>
			<tr>
				<td colspan="2"><strong>Dates de sortie</strong></td>
			</tr>
			<tr>
				<td>EU</td>
				<td>${game.releaseDates["EU"] ? game.releaseDates["EU"]?.format() : '?'}</td>
			</tr>
			<tr>
				<td>USA</td>
				<td>${game.releaseDates["USA"] ? game.releaseDates["USA"]?.format() : '?'}</td>
			</tr>
			<tr>
				<td>JPN</td>
				<td>${game.releaseDates["JAPON"]? game.releaseDates["JAPON"]?.format() : '?'}</td>
			</tr>
		</tbody>
	</table>
	<div class="col-1">
		<h2>Configuration requise</h2>
		#{set config:game.configuration /}
		<table>
			<tbody>
				<tr>
					<td colspan="4"><strong>Informations générales</strong></td>
				</tr>
				<tr>
					<td colspan="2">Système(s) d'exploitation</td>
					<td colspan="2">
						#{list items:config?.operatingSystems, as: 'OS'}
							${OS.name} ${OS.version}#{if !OS_isLast}, #{/if}
						#{/list}
					</td>
				</tr>
				<tr>
					<td colspan="2">RAM</td>
					<td colspan="2">${config?.RAM} Go</td>
				</tr>
				<tr>
					<td colspan="2">Espace disque</td>
					<td colspan="2">${config?.freeDiskSpace} Go</td>
				</tr>
				<tr>
					<td colspan="4"><strong>Processeurs</strong></td>
				</tr>
				<tr>
					<td colspan="2">Nom</td>
					<td>Fréquence</td>
					<td>Cœurs</td>
				</tr>
				#{list items:config?.processors, as: 'proc'}
					<tr>
						<td colspan="2">${proc.manufacturer} ${proc.name}</td>
						<td>${proc.speed} GHz</td>
						<td>${proc.cores}</td>
					</tr>
				#{/list}
				<tr>
					<td colspan="4"><strong>Cartes graphiques</strong></td>
				</tr>
				<tr>
					<td colspan="2">Nom</td>
					<td>Fréquence</td>
					<td>DirectX</td>
				</tr>
				#{list items:config?.videoCards, as: 'vidCard'}
					<tr>
						<td colspan="2">${vidCard.manufacturer} ${vidCard.name}</td>
						<td>${vidCard.speed} MHz</td>
						<td>${vidCard.versionDirectX}</td>
					</tr>
				#{/list}
			</tbody>
		</table>
	</div>
	#{if user instanceof models.Gamer && !user.configurations.empty}
		<div class="col-3">
			<button type="submit" class="btn" form="compare-form">Comparer</button>
		</div>
		<div class="col-2">
			<h2>Mes configurations</h2>
			#{form @Configuration.compare(), id:'compare-form'}
				<select id="select-config-gamer" name="idUser">
					#{list items:user.configurations, as: 'configGamer'}
						#{if configGamer_index == 1}
							<option value="${configGamer.id}" selected>${configGamer.name}</option>
						#{/if}
						#{else}
							<option value="${configGamer.id}">${configGamer.name}</option>
						#{/else}
					#{/list}
				</select>
				<input type="text" name="idGame" value="${game.name}" hidden>
			#{/form}
			#{list items:user.configurations, as: 'configGamer'}
				<table id="config-${configGamer.id}" hidden>
					<tbody>
						<tr>
							<td colspan="4"><strong>Informations générales</strong></td>
						</tr>
						<tr>
							<td colspan="2">Système d'exploitation</td>
							<td colspan="2">
								#{list items:configGamer.operatingSystems, as: 'OS'}
									${OS.name} ${OS.version}
								#{/list}
							</td>
						</tr>
						<tr>
							<td colspan="2">RAM</td>
							<td colspan="2">${configGamer?.RAM} Go</td>
						</tr>
						<tr>
							<td colspan="2">Espace disque</td>
							<td colspan="2">${configGamer?.freeDiskSpace} Go</td>
						</tr>
						<tr>
							<td colspan="4"><strong>Processeur</strong></td>
						</tr>
						<tr>
							<td colspan="2">Nom</td>
							<td>Fréquence</td>
							<td>Cœurs</td>
						</tr>
							#{list items:configGamer?.processors, as: 'proc'}
							<tr>
								<td colspan="2">${proc.manufacturer} ${proc.name}</td>
								<td>${proc.speed} GHz</td>
								<td>${proc.cores}</td>
							</tr>
							#{/list}
						<tr>
							<td colspan="4"><strong>Carte graphique</strong></td>
						</tr>
						<tr>
							<td colspan="2">Nom</td>
							<td>Fréquence</td>
							<td>DirectX</td>
						</tr>
						#{list items:configGamer?.videoCards, as: 'vidCard'}
							<tr>
								<td colspan="2">${vidCard.manufacturer} ${vidCard.name}</td>
								<td>${vidCard.speed} MHz</td>
								<td>${vidCard.versionDirectX}</td>
							</tr>
						#{/list}
					</tbody>
				</table>
			#{/list}

			<table id="config-displayed"></table>
	#{/if}
</main>
