<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="@{'/public/images/favicons/apple-touch-icon-57x57.png'}"/>
        <link rel="apple-touch-icon" sizes="60x60" href="@{'/public/images/favicons/apple-touch-icon-60x60.png'}"/>
        <link rel="icon" type="image/png" href="@{'/public/images/favicons/favicon-32x32.png'}" sizes="32x32"/>
        <link rel="icon" type="image/png" href="@{'/public/images/favicons/favicon-16x16.png'}" sizes="16x16"/>
        <link rel="manifest" href="@{'/public/images/favicons/manifest.json'}"/>
        <meta charset="${_response_encoding}">
        <meta name="apple-mobile-web-app-title" content="8-bit">
        <meta name="application-name" content="8-bit">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}

        <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}

    </head>
    <body>
        <header>
            <nav class="header-left">
	            <a href="/"><img src="@{'/public/images/logo.png'}" width="70px" height="35px" class="logo" alt="8-bit"/></a>
                <ul class="toolbar-list">
                    #{if !(user instanceof models.Provider)}
	                    <li class="toolbar-item btn configuration-icon"><a href="@{Configuration.index}"><span>Configuration système</span></a></li>
		                <li class="toolbar-item btn search-icon"><a href="@{Search.index}"><span>Rechercher un jeu</span></a></li>
		                <li class="toolbar-item btn gamepad-icon"><a href="@{Suggestions.index}"><span>Suggestions de jeux</span></a></li>
					#{/if}
	                #{else}
	                    <li class="toolbar-item btn configuration-icon"><a href="@{Manage.hardware}"><span>Gestion du matériel</span></a></li>
	                    <li class="toolbar-item btn gamepad-icon"><a href="@{Manage.games}"><span>Gestion des jeux</span></a></li>
	                    <li class="toolbar-item btn requests-icon"><a href="@{Manage.requests}"><span>Gestion des demandes</span></a></li>
	                #{/else}
	            </ul>
            </nav>
            <div class="header-right">
				#{if user == null}
		            #{form @Secure.authenticate()}
			            <input type="text" name="username" class="text-input login-input" placeholder="Pseudo"/>
			            <input type="password" name="password" class="text-input login-input" placeholder="Mot de passe"/>
			            <input type="hidden" name="remember" value=1/>
			            <button type="submit" class="btn login-btn">Connexion</button>
		            #{/form}
	            #{/if}
                <ul class="toolbar-list user-list">
                    #{if user instanceof models.Gamer}
	                   <li class="toolbar-item user-item btn profile-icon"><a href="@{Profile.index}"><span>Mon profil</span></a></li>
	                   <li class="toolbar-item user-item btn messages-icon"><a href="@{Messages.index}"><span>Mes messages</span></a></li>
                    #{/if}
                    #{if user != null}
	                    <li class="toolbar-item user-item btn logout-icon"><a href="@{Secure.logout}"><span>Déconnexion</span></a></li>
					#{/if}
                </ul>
            </div>
        </header>
        #{doLayout /}

        <footer>
            <ul class="footer-list">
                <li class="footer-item"><a href="@{About.index}">À propos</a></li>
                <li class="footer-item"><a href="@{Conditions.index}">Conditions</a></li>
                <li class="footer-item"><a href="@{Privacy.index}">Confidentialité</a></li>
                <li class="footer-item"><a href="@{Contact.index}">Contact</a></li>
            </ul>
        </footer>
    </body>
</html>
