#{extends 'main.html' /}
#{set title:'Bienvenue sur 8-bit !' /}
<main>
    <div class="welcome-box">
        <h1>Bienvenue sur 8-bit !</h1>

        <p>Comparez votre configuration système à une base de plus de 500 jeux vidéo. Trouvez les jeux compatibles qui
            vous correspondent le
            mieux. Et partagez votre expérience avec d'autres gamers.</p>
    </div>
    <div class="recent-games">
        <h2>Jeux récents</h2>
    </div>
    <div class="signup-box">
        <h2>Pas encore inscrit ?</h2>
    #{form @Application.signup()}
        <input type="text" name="username" class="text-input signup-input" placeholder="Nom d'utilisateur"/>
        <input type="password" name="password" class="text-input signup-input" placeholder="Mot de passe"/>
        <button type="submit" class="btn signup-btn">S'inscrire</button>
    #{/form}
    </div>
</main>