* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Consolas, "Andale Mono", monospace;
	background: #000000 url('/public/images/backgrounds/space-invader-black.jpg') center center no-repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
}

h1 {
	position: absolute;
	left: 100px;
	top: 100px;
	font-weight: 500;
	font-size: 38px;
}