/* Hardware stylesheet */

/* Tables */
thead {
	display: block;
	width: 350px;
}

tbody {
	display: block;
	width: 350px;
	max-height: 300px;
	overflow-y: scroll;
	font-size: 11px;
}

thead tr th:nth-child(1) { /* Name */
	width: 150px;
}

thead tr th:nth-child(2) { /* Manufacturer */
	width: 100px;
}

thead tr th:nth-child(3) { /* Speed / Memory */
	width: 50px;
}

thead tr th:nth-child(4) { /* Cores / DirectX */
	width: 50px;
}

tbody tr:first-child td:nth-child(1) { /* Name */
	width: 150px;
}

tbody tr:first-child td:nth-child(2) { /* Manufacturer */
	width: 100px;
}

tbody tr:first-child td:nth-child(3) { /* Speed / Memory */
	width: 50px;
}

tbody tr:first-child td:nth-child(4) { /* Cores / DirectX */
	width: 50px;
}

/* Forms */
.add-btn {
	padding: 10px;
	background: rgba(0, 51, 102, 0.7);
	width: 100%;
}

.add-btn:hover {
	background: rgb(0, 51, 102);
}

.hardware-input {
	width: 100%;
	margin: 1px 0;
}