/* Main stylesheet */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #000000 url('/public/images/backgrounds/space-bg-min.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
}

h1 {
    margin: 30px 0;
    font-weight: 400;
    letter-spacing: 2px;
}

h2 {
    margin: 15px 0;
    font-weight: 300;
    letter-spacing: 1px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 35px;
    background: rgba(255, 255, 255, 0.8);
}

.header-left {
    float: left;
    height: 100%;
}

.header-right {
    float: right;
    height: 100%;
}

/* Main */
main {
    -webkit-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
    margin: 0 8%;
    padding: 50px 0;
    display: block;
}

/* Inputs styles */
input[type=file] {
    display: none;
}

.text-input {
    color: #FFFFFF;
    padding: 5px 0;
    text-indent: 10px;
    outline: none;
    border: thin solid #DCDCDC;
}

.valid-input {
    -webkit-box-shadow: 0 0 5px 1px #02D470;
    -moz-box-shadow: 0 0 5px 1px #02D470;;
    box-shadow: 0 0 5px 1px #02D470;
}

.invalid-input {
    -webkit-animation: shake .5s;
    -o-animation: shake .5s;
    animation: shake .5s;
    -webkit-box-shadow: 0 0 5px 1px #D43A57;
    -moz-box-shadow: 0 0 5px 1px #D43A57;
    box-shadow: 0 0 5px 1px #D43A57;
}

/* Buttons styles */
.btn {
    background: transparent;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    outline: none;
}

/* Tooltips styles */
.info-tooltip {
    font-size: 11px;
    font-style: italic;
}

.error-tooltip {
    font-size: 11px;
    font-style: italic;
    color: #D43A57;
}

/* Animations */
@keyframes shake {
    0% {margin-left:8px;}
    10% {margin-left:-8px;}
    30% {margin-left:8px;}
    60% {margin-left:-8px;}
    100% {margin-left:0;}
}

@keyframes fadeIn {
    0% {filter: alpha(opacity=0); opacity: 0;}
    100% {filter: alpha(opacity=100); opacity: 1;}
}

/* Logo */
.logo {
    float: left;
    margin: 0 10px;
    position: relative;
}

.logo:hover {
    top: 1px;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

/* Toolbar */
.toolbar-list {
    line-height: 35px;
    list-style-type: none;
    float: left;
}

.toolbar-item {
    float: left;
}

.toolbar-item a {
    display: block;
    padding: 0 20px;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(#C72C48, #D43A57);
    background: -moz-linear-gradient(#C72C48, #D43A57);
    background: -ms-linear-gradient(#C72C48, #D43A57);
    background: -o-linear-gradient(#C72C48, #D43A57);
    background: linear-gradient(#C72C48, #D43A57);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.toolbar-item a:active {
    top: 2px;
}

.toolbar-item a span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.toolbar-item a:before {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 0;
    top: -100%;
}

.toolbar-item a:hover:before {
    top: 0;
}

.toolbar-item a:hover span {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
}

.configuration-icon a:before {
    content: url('/public/images/icons/configuration.png');
}

.search-icon a:before {
    content: url('/public/images/icons/search.png');
}

.gamepad-icon a:before {
    content: url('/public/images/icons/gamepad.png');
}

.requests-icon a:before {
    content: url('/public/images/icons/requests.png');
}

/* Login */
.login-input {
    color: #000000;
    margin: 5px 2px;
}

.login-input:focus {
    border: solid 1px #D43A57;
    -webkit-box-shadow: 0 0 5px 1px #C72C48;
    -moz-box-shadow: 0 0 5px 1px #C72C48;
    box-shadow: 0 0 5px 1px #C72C48;
}

.login-btn {
    margin-right: 5px;
    padding: 5px 10px;
    font-weight: 700;
    background: #C72C48;
    font-size: 12px;
}

.login-btn:hover {
    background: #D43A57;
}

/* User */
.user-list {
    float: right;
}

.user-item a {
    background: #660099;
}

.profile-icon a:before {
    content: url('/public/images/icons/user.png');
}

.messages-icon a:before {
    content: url('/public/images/icons/mail.png');
}

.logout-icon a:before {
    content: url('/public/images/icons/logout.png');
}

/* Front welcome */
.front-welcome {
    width: 35%;
    font-size: 16px;
    line-height: 40px;
    padding: 20px;
    float: left;
}

/* Recent games */
.recent-games {
    float: right;
    margin-top: 30px;
    width: 35%;
    height: 350px;
}

.recent-games h2 {
    margin: 0;
    background: rgba(0, 51, 102, 0.4);
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}

/* Sign-up */
.signup {
    clear: both;
}

.signup-form {
    width: 356px;
}

.signup-input {
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    display: block;
    height: 25px;
    margin: 5px 2px;
}

.signup-input:focus {
    -webkit-box-shadow: 0 0 5px 1px #9683EC;
    -moz-box-shadow: 0 0 5px 1px #9683EC;
    box-shadow: 0 0 5px 1px #9683EC;
}

.icon {
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    padding-left: 40px;
}

.user-icon {
    background-image: url('/public/images/icons/user.png');
}

.mail-icon {
    background-image: url('/public/images/icons/mail.png');
}

.pwd-icon {
    background-image: url('/public/images/icons/password.png');
}

.signup-btn {
    height: 35px;
    padding: 5px 10px;
    font-weight: 500;
    background: #6050DC;
    font-size: 11px;
}

.signup-btn:hover {
    background: #9683EC;
}

/* Search */
.search-input {
    background: rgba(0, 51, 102, 0.4);
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.search-input::-webkit-input-placeholder {
    font-style: italic;
}

.search-input::-moz-placeholder {
    font-style: italic;
}

.search-input:-ms-input-placeholder {
    font-style: italic;
}

.search-btn {
    position: absolute;
    visibility: hidden;
}

.search-list {
    width: 100%;
    list-style-type: none;
    background: rgba(0, 51, 102, 0.2)
}

.search-item {
    line-height: 35px;
    text-indent: 15px;
    font-size: 13px;
    font-weight: 500;
}

.search-item:hover {
    background: rgba(0, 51, 102, 0.3);
}

.search-item a {
    display: block;
    height: 100%;
}

.search-item a:hover {
    text-decoration: none;
}

/* Footer */
footer {
    position: fixed;
    z-index: -1;
    right: 10px;
    bottom: 10px;
    font-size: 11px;
}

.footer-list {
    list-style-type: none;
}

.footer-item {
    float: left;
    padding: 10px;
}

.liste-config {
    display: none;
}

/* Responsive web design */
@media screen and (max-width:1100px) {
    /* Reduce header and logo size */
    header {
        height: 30px;
    }

    .logo {
        width: auto;
        height: 30px;
    }

    /* Display only icons */
    .configuration-icon a {
        content: url('/public/images/icons/configuration.png');
        width: 30px;
        height: 30px;
    }

    .search-icon a {
        content: url('/public/images/icons/search.png');
        width: 30px;
        height: 30px;
    }

    .gamepad-icon a {
        content: url('/public/images/icons/gamepad.png');
        width: 30px;
        height: 30px;
    }

    .requests-icon a {
        content: url('/public/images/icons/requests.png');
        width: 30px;
        height: 30px;
    }

    .profile-icon a {
        content: url('/public/images/icons/user.png');
        width: 30px;
        height: 30px;
    }

    .messages-icon a {
        content: url('/public/images/icons/mail.png');
        width: 30px;
        height: 30px;
    }

    .logout-icon a {
        content: url('/public/images/icons/logout.png');
        width: 30px;
        height: 30px;
    }

    .toolbar-item:hover,
    .toolbar-item:active,
    .user-item:hover,
    .user-item:active {
        opacity: 0.8;
    }

    .login-input {
        margin: 2px 0;
        width: 90px;
    }

    .login-btn {
        font-size: 11px;
    }
}

@media screen and (max-width:800px) {
    /* Resize the welcome elements */
    .front-welcome {
        float: none;
        width: 100%;
        padding: 10px;
    }

    .recent-games {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    /* Reduce toolbar icons padding */
    .configuration-icon a,
    .search-icon a,
    .gamepad-icon a,
    .requests-icon a,
    .profile-icon a,
    .messages-icon a,
    .logout-icon a {
        padding: 0 10px;
    }
}