#{extends 'main.html' /}
#{set title:'S\'inscrire sur 8-bit' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/validation.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
<main>
	<h1>S'inscrire sur 8-bit</h1>
	#{form @Signup.createAccount(), enctype:'multipart/form-data', class:'signup-form'}
		<input type="text" id="pseudo" name="pseudo" value="${flash.pseudo}" class="text-input signup-input icon user-icon" title="#{error 'pseudo' /}" placeholder="Pseudo *" autocomplete="off"/>
		<input type="text" id="email" name="email" value="${flash.email}" class="text-input signup-input icon mail-icon" title="#{error 'email' /}" placeholder="Email *" autocomplete="off"/>
		<input type="password" id="password" name="password" value="${flash.password}" class="text-input signup-input icon pwd-icon" title="#{error 'password' /}" placeholder="Mot de passe *"/>
		<input type="password" id="password2" name="password2" class="text-input signup-input icon pwd-icon" title="#{error 'password2' /}" placeholder="Confirmez votre mot de passe *"/>
		<button type="submit" class="btn signup-btn">S'inscrire</button>
	#{/form}
</main>